.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.headerDiv {
  height : 20%;
}

.textboxDiv {
  height : 20%;
  width : 10%;
  flex-wrap: wrap;
}

.profilePicWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profilePicMargin {
  width: 20px;
}

.profilePicDiv {
  border-radius: 999999px;
  border-width: 1;
  margin-left: 10px;
}






